<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <title>2291048 진민우 스마트화분 프로젝트</title>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.2/mqttws31.min.js" type="text/javascript"></script>
      <script src= "./static/mqttio3.js" type="text/javascript"></script>
      <script>
            window.addEventListener("load", function () {
                // http://224..129:8080/에서 224...의 IP만 끊어내는 코드
                var url = new String(document.location);
                ip = (url.split("//"))[1]; // ip = "224...:8080/"
                ip = (ip.split(":"))[0]; // ip = "224..."
                document.getElementById("broker").value = ip
            });
      </script>
   </head>
   <body>
         <h3>Raspberry 제어 및 모니터링</h3>
         <hr>
         <form id="connection-form">
            <b>브로커 IP:</b>
            <input id="broker" type="text" name="broker" value=""><br>
            <b>포트 번호 : 9001</b><br>
            <input type="button" onclick="connect()" value="Connect"> <!--클릭시 브로커에 연결-->
            <input type="button" onclick="disconnect()" value="Disconnect"> <!--클릭시 브로커 연결 해제-->
         </form>
         <hr>
         <h3>화분 상태</h3>
         <meta charset="UTF-8">
         <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <title>Video Streaming</title>
         <h3>성장과정 영상</h3>
         <video width="640" height="480" controls autoplay muted>
            <source src="{{ url_for('static', filename='result.mp4') }}" type="video/mp4">
    </video>
         <form id="LED-control-form">
            <label>on <input type="radio" name="led" value="1" onchange="publish('led', 1)"></label>
            <label>off <input type="radio" name="led" value="0" checked onchange="publish('led', 0)"><br><br></label>
         </form>
         <hr>
         <div style="display:flex;">
            <!-- 첫 번째 열 -->
            <div id="luminant-column" style="flex:1;">
               <h3>조도</h3>
               <form id="luminant-form">
                  <input type="button" onclick="subscribeAndHandle('luminant')" value="조도 측정">
               </form>
            </div>
   
            <!-- 두 번째 열 -->
            <div id="temperature-column" style="flex:1;">
               <h3>온도</h3>
               <form id="temperature-form">
                  <input type="button" onclick="subscribeAndHandle('temperature')" value="온도 측정">
               </form>
            </div>
   
            <!-- 세 번째 열 -->
            <div id="humidity-column" style="flex:1;">
               <h3>습도</h3>
               <form id="humidity-form">
                  <input type="button" onclick="subscribeAndHandle('humidity')" value="습도 측정">
               </form>
            </div>
         </div>
         <div id="messages"></div>
   </body>
</html>
